# Dependencias de Node.js
node_modules/



# Cachés y compilaciones
.next/
dist/

# Logs
*.log

# Configuración del sistema operativo
.DS_Store

# Archivos relacionados con Tailwind y PostCSS generados automáticamente
tailwind.config.js
postcss.config.js
